<h1>Bienvenidos a Takumi Notes</h1>
<div class="background">

  <div class="centrar-boton">
    <img src="assets/start.png" alt="Icono" class="icono">
    <div class="texto-boton">
      <div class="contenido-texto">
        <div class="titulo">Organiza tu tiempo</div>
        <div class="descripcion">Crea hábitos, organiza tu tiempo y vive nuevas experiencias.</div>
      </div>
    </div>
  </div>

  <div class="centrar-boton">
    <img src="assets/note.png" alt="Icono" class="icono">
    <div class="texto-boton">
      <div class="contenido-texto">
        <div class="titulo">Guarda tu información!</div>
        <div class="descripcion">Crea notas, guárdalas por categoría y sé ordenado.</div>
      </div>
    </div>
  </div>

  <div class="centrar-boton">
    <img src="assets/user.png" alt="Icono" class="icono">
    <div class="texto-boton">
      <div class="contenido-texto">
        <div class="titulo">Observa tu progreso</div>
        <div class="descripcion">Ve tu rendimiento, tus logros y tu tiempo recorrido.</div>
      </div>
    </div>
  </div>

  
  <button (click)="navegarAHInico()" class="boton-final">Continuar</button>

</div>